/* Custom font styles */
@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Classes */
.navbar {
    font-family: "Shantell Sans";
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25rem;
    word-spacing: 7px;
    position: absolute;
    left: 245px;
    top: 82px;

/* IDs */
#sitewide-nav {
    background-color: rgba(231,178,9,0.85);
    border-bottom: 0.25rem solid #6c3323;
    padding: 1rem;
}
